.bread-crum {
    margin: 1rem 0;
    display: flex;
    color: var(--dark);
    align-items: center;
    gap: .5rem;
    color: #848d96;
    font-size: .9rem;
    font-weight: 500;
    flex-wrap: wrap;
}