footer {
    background-color: var(--dark);
    color: var(--white);
    padding: 2rem 0 5rem;


    .content {
        max-width: 1000px;
        margin: 1rem auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width:1000px) {
            padding-inline: 3%;
        }

        .left {
            @media (max-width:600px) {
                flex-basis: 40%;
            }

            h2 {
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
                margin: 1rem 0;
            }
        }

        a {
            color: white;
            display: block;
            font-size: .9rem;
            padding: .5rem 0;
        }
    }
}